# Root environment template for Honks monorepo
# Fill real values in local .env files (not committed)

NODE_ENV=development
TAG=1.0.0

# Observability
GRAFANA_USER=toto
GRAFANA_PASSWORD=toto

PROMETHEUS_URL=http://prometheus:9090
LOKI_URL=http://loki:3100
TEMPO_URL=http://tempo:3200

OTEL_EXPORTER_OTLP_ENDPOINT=http://tempo:4318

# Mobile
EXPO_PUBLIC_API_URL=http://api:3000